.main{ color: white;
    background-image :url( ./bir.jpg);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* for Safari */
  padding: 2rem;
  color: white;
 background-size:700px   
}
.styling{
    display: flex; justify-content: center;
color: white;
}
.style{
    margin-inline: 20px; margin-top: 0%; font-size: ;
}
.size{
    font-size:45px ;
}
.text-style{
    font-size: 33px; color: red; 
}
.text{
    color: rgb(251, 255, 0); 
 font-size: 33px;
   margin-top: 35px;
   text-align: center;

}

.para{
    color: white;
    text-align: center;
    margin-top: 20px;
}
.img-styling   {
  display: flex; justify-content: center; 
  margin-top: 40px;
  
}
figure{
    text-align: center; margin: 1%;
}
.video{
    width: 30%; height: 300px; border: 8px white solid ;
   margin-top: 45px;
    
}

.img1{
    border : 10px white solid;   width: 27% ;display: block;  margin-left: 180px; height: 190px;
    margin-right: 300px;

}
 figcaption strong  {
  color:#F5EEDC;text-align: center;
}
.img2{

    border: 10px white solid; width: 140px; height:190px; 
    display: block; 
      margin: 0 auto;
    }

    figcaption{
        text-align: center;
    }
.img3{
    border: 10px white solid;
    width: 26%; margin-left: 180px;
    display: block;
}

figcaption{
    margin-top: 35px;
}
.ending
{
    text-align: center; color: yellow;
    margin-top: 40px;
    
}

.ending p{
    color: white;
}
p{
    text-align: center;
    font-size: ;
}
h1{
    text-align: center; color:yellow    ;
    margin-top:60px;
}
.img-ending   {
  display: flex; justify-content: center; 
 
}
figcaption h1{
    color: red; font-size: 40px;
}
.img4{
    width: 350px; height: 300px ; 
}
/*.img5{
     padding-right: 10px; width: 100px; height: 100px ;
}
.img6{
    width: 100px; height: 100px;
}*/

.last-text strong{
    color: red; font-size: 20px;

}
.last-text{
    color: white;font-size: 16px;
    margin-top: 130px;
}
.main-img{
  padding-left: 5%;   
    width:200px ; height: 50px;
}
.starting{
    width:200px ; height: 200px; 
       display: block;
}