.main{ 
    background-image :url( ./bir.jpg );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  padding: 2rem;
  color: white;
 background-size:700px   
}
.styling{
    display: flex; justify-content: center;
 margin-top: 15px;color: white;
}
.style{
    margin-inline: 20px; 
}
.text-style{
    font-size: 25px; color: red; 
}
.text{
    color: rgb(251, 255, 0); 
     font-size: 25px;
   

}
.para{
    color: white;
    text-align: center;
}
.img-styling   {
  display: flex; justify-content: center;
  
}
figure{
    text-align: center; margin: 1%;
}
