.main{ color: white;
    background-image :url( ./bir.jpg);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* for Safari */
  padding: 2rem;
  color: white;
 background-size:700px   
}
.styling{
    display: flex; justify-content: center;
 margin-top: 5px;color: white;
}
.style{
    margin-inline: 20px; 
}
.text-style{
    font-size: 30px; color: red; 
}
.text{
    color: rgb(251, 255, 0); 
 font-size: 30px;margin-left: 1%; 
   padding-left: 1%;

}
.para{
    color: white;
    text-align: center;
}
.img-styling   {
  display: flex; justify-content: center;
  
}
figure{
    text-align: center; margin: 1%;
}
.video{
    width: 30%; height: 300px; border: 8px white solid ;
   
    
}

.img1{
    border: 10px white solid;
}
 figcaption strong  {
  color:#F5EEDC;text-align: center;
}
.img2{

    border: 10px white solid;
    display: block; 
      margin: 0 auto;
    }

    figcaption{
        text-align: center;
    }
.img3{
    border: 10px white solid;
}

.ending
{
    text-align: center; color: yellow;
    
}

.ending p{
    color: white;
}
p{
    text-align: center;
    font-size: ;
}
h1{
    text-align: center; color:yellow    ;
}
.img-ending   {
  display: flex; justify-content: center;
 
}
.img4{
    width: 300px; height: 300px ; 
}
/*.img5{
     padding-right: 10px; width: 100px; height: 100px ;
}
.img6{
    width: 100px; height: 100px;
}*/